body{
    background-color: gray;
}

h1{
    text-align: center;
    
}
table{
    text-align: center;
    border: 2px solid blueviolet;
    margin-left: auto;
    margin-right: auto;
    
}
h2{
    text-align: center;
    color: lightgreen
}

th{
    background-color: aqua;
}

td{
    background-color: bisque ;
}

.Tags{
    background-color: aquamarine;
}